
@{
    ViewData["Title"] = "CallDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>CallDetails</h1>

<div class="row mt-3">
    <div class="col-sm-3">
        <label>Deneme</label>
        <input class="form-control" />
    </div>
</div>
