@{
    ViewData["Title"] = "ShipCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Ship Create</h4>

<div class="form-group row">
    <label class="col-sm-3 control-label text-sm-right pt-2">Full Name <span class="required">*</span></label>
    <div class="col-sm-6">
        <input type="text" name="fullname" class="form-control" placeholder="eg.: John Doe" required />
    </div>
</div>