@model List<EntityLayer.Concrete.Ship>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Ship List</h1>

<table class="table table-sm table-hover table-responsive w-100 d-block d-md-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ship Id</th>
            <th>Ship Name</th>
            <th>Ship Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ShipId</td>
                <td>@item.ShipName</td>
                <td>@item.ShipType</td>
            </tr>
        }
    </tbody>
</table>