<ul class="nav nav-main">
    <li id="menu-dashboard">
        <a class="nav-link" href="~/Home">
            <i class="fas fa-home" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-parent" id="menu-settings">
        <a class="nav-link" href="#">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
            <span>Settings</span>
        </a>
        <ul class="nav nav-children">
            <li id="menu-settings-port_list">
                <a class="nav-link" href="~/Port/List">
                    Port List
                </a>
            </li>
            <li id="menu-settings-ship_list">
                <a class="nav-link" href="~/Ship/List">
                    Ship List
                </a>
            </li>
            <li id="menu-settings-voyage_list">
                <a class="nav-link" href="~/Voyage">
                    Call List
                </a>
            </li>
        </ul>
    </li>
</ul>