<ul class="nav nav-main">
    <li>
        <a class="nav-link" href="layouts-default.html">
            <i class="fas fa-home" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-parent">
        <a class="nav-link" href="#">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
            <span>Settings</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a class="nav-link" href="~/Port/List">
                    Port List
                </a>
            </li>
            <li>
                <a class="nav-link" href="~/Ship/List">
                    Ship List
                </a>
            </li>
        </ul>
    </li>
</ul>